/* portfolio-specific CSS starts */
p#welcome
{ font-size: 16pt; font-weight: bold; text-align: center;}

img
{ 
position:relative;
top: 15px;
left: 30px;
}

/* portfolio-specific CSS ends */

/* resume-specific CSS starts */

#resume
{
border-style:solid; 
border-width:thin;
}
div#resume
{
margin: 10px;
padding: 0px 20px 0px 60px; 
}

a
{text-decoration: none; }

ul#nav, ul#links
{display:none;}

p.name
{
font-size: 16pt; text-align: center;
}
address
{
font-size: 14pt; text-align: center;
}
span.sub_title
{
font-weight: bold; font-family: arial; font-size:10pt; font-style: italic;
}
h3, h4
{
text-indent: -25px;
}
h4
{
font-size:12pt;
}
/* resume-specific CSS ends */